li{
    display: inline-block;
    margin: 0 10%;
}
nav{
    border: 2px solid black;
    position:sticky;
    width: 100%;
    background-color: lightcyan;
    top: 0;}
div{
    height: 2000px;
    background-color: lightsalmon;
}
div+div{
    height: 2000px;
    background-color: lightgreen;
}